%h1
  %a{ :href => 'http://nodejs.org' } NodeJS
  Package Manager

.block-2
  %h2 Getting Started
  
  %p
    Download the latest kiwi
    %a{ :href => 'http://github.com/visionmedia/kiwi/downloads' } tarball
    or clone the
    %a{ :href => 'http://github.com/visionmedia/kiwi' } git repository
    and run the following command:
  
  %pre
    %code $ [sudo] make install
  
  %p
    Installation via 
    %a{ :href => 'http://github.com/mxcl/homebrew' } homebrew
    \:
  
  %pre
    %code $ [sudo] brew install kiwi
    
  %p
    Installing a 
    %em seed
    \:
  %pre
    %code $ kiwi install haml
  
  %p
    For more information use the
    %em help
    command:
  %pre
    %code $ kiwi help
    

.block-2
  %h2 Statistics
  
  %table#stats
    %tr
      %td Users
      %td= user_count
    %tr
      %td Seeds Downloaded
      %td= download_count
    %tr
      %td Unique Seeds
      %td= seed_count
    %tr
      %td Seed Versions
      %td= seed_version_count
  