!!! strict
%html
  %head
    %title Kiwi- Node Package Manager
    %meta{ :name => 'keywords', :content => 'kiwi nodejs package manager' }
    %meta{ :name => 'description', :content => 'The NodeJs Package Manager' }
    %style(type='text/css')
      :sass
        body
          :font 14px/1.4 "Myriad Pro", "Helvetica Nueue", "Lucida Grande", "Arial", sans-serif
          :text-align center
          :-webkit-text-stroke 0.1px #fff
          :-moz-text-stroke 0.2px #fff
          :color #333
        #container
          :position relative
          :margin 45px auto 0 auto
          :width 800px
          :text-align left
        #logo
          :font-size 60px
        h1
          :position absolute
          :top 18px
          :left 120px
          :font-size 18px
          :font-weight normal
        h2
          :margin-top 25px
          :font-size 16px
        pre
          :padding 5px 10px
          :border 1px solid #eee
        code
          :font-family "Courier", monospace
        a
          :color #1FD12E
  %body
    #container
      %span#logo Kiwi
      #primary= yield
      #footer
        %span Copyright &copy; 2010 TJ Holowaychuk. All rights reserved.