!!! strict
%html
  %head
    %title Kiwi- Node Package Manager
    %meta{ :name => 'keywords', :content => 'kiwi nodejs package manager' }
    %meta{ :name => 'description', :content => 'The NodeJs Package Manager' }
  %body
    #container
      %span#logo Kiwi
      #primary= yield
      #footer
        %span Copyright &copy; 2010 TJ Holowaychuk. All rights reserved.