!!! strict
%html
  %head
    %title Kiwi- Node Package Manager
    %meta{ :name => 'keywords', :content => 'kiwi nodejs package manager' }
    %meta{ :name => 'description', :content => 'The NodeJs Package Manager' }
    %style(type='text/css')
      :sass
        =inset
          :border 1px solid #eee
          :-webkit-box-shadow 1px 1px 1px #fff
          :-moz-box-shadow 1px 1px 1px rgba(0,0,0,0.1)
          :-webkit-border-radius 5px
          :-moz-border-radius 5px
          :background #fff
        html
          :background #fff
        body
          :margin 0
          :padding-top 45px
          :font 14px/1.4 "Myriad Pro", "Helvetica Nueue", "Lucida Grande", "Arial", sans-serif
          :background -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#fff))
          :text-align center
          :-webkit-text-stroke 0.1px #fff
          :-moz-text-stroke 0.2px #fff
          :color #333
        #container
          :position relative
          :margin 0 auto 0 auto
          :width 700px
          :text-align left
        #footer
          :padding 20px 0
          :width 100%
          :text-align right
          :font-size 11px
          :clear both
        #ribbon
          :position absolute
          :top 0
          :right 0
          img
            :border none
        #logo
          :font-size 60px
          :-webkit-text-stroke 0.5px #fff
          :text-shadow 1px 1px 2px rgba(0,0,0,0.2)
        .block-2
          :padding 0 20px 0 0
          :width 330px
          :float left
        h1
          :margin 0
          :position absolute
          :top 62px
          :left 3px
          :font-size 12px
          :font-weight normal
        h2
          :margin-top 25px
          :font-size 16px
        pre
          :padding 5px 10px
          +inset
        code
          :font-family "Courier", monospace
          :background #fff
        table
          :width 100%
          :border-collapse collapse
          +inset
          tr
            :border-bottom 1px solid #eee
          tr:last-child
            :border-bottom none
          tr:nth-child(even)
            :background #f8f8f8
          td
            :padding 5px 10px
            &:nth-child(2)
              :text-align right
        a
          :color #1FD12E
  %body
    #container
      %span#logo Kiwi
      #primary= yield
      #footer
        %span
          Copyright &copy; 2010 TJ Holowaychuk. All rights reserved. Hosting sponsored by 
          %a(href='http://slicehost.com') Slicehost
          \.
    %a#ribbon(href='http://github.com/visionmedia/kiwi')
      %img{ :alt => 'fork me on Github', :src => 'http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png' }